body{
    background: rgb(26,0,120);
background: linear-gradient(90deg, rgba(26,0,120,1) 0%, rgba(0,0,0,1) 37%, rgba(6,3,40,1) 68%, rgba(15,7,93,1) 86%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color:yellow;
    font-size: 3rem;
   ;
}

.container{
    border: 3px solid black;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(68, 1, 135);
}

p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

button{
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: goldenrod;
}